<ion-view view-title="BARCODE SCAN">
    <ion-content class="padding">
        <h3>{{scannerError}}</h3>

        <div class="bar bar-header item-input-inset" ng-show="isDebugMode">
            <label class="item-input-wrapper">
                <input type="text" placeholder="Raw data from QR Code" ng-model="QRCodeResult">
            </label>
            <button class="button button-clear" ng-click="decodeRawQRText(QRCodeResult)">
                Decode
            </button>
        </div>

        <label class="item item-input item-stacked-label">
            <span class="input-label">Work center</span>
            <input type="text" ng-model="curentData.workCenter">
        </label>
        <label class="item item-input item-stacked-label">
            <span class="input-label">Mold</span>
            <input type="text" ng-model="curentData.mold">
        </label>
        <div class="button-bar">
            <button class="button button-balanced button-large button-block" ng-click="onClickSuccess()">
                Success
            </button>
            <button class="button button-assertive button-large button-block" ng-click="onClickDefect()">
                Defect
            </button>
        </div>



    </ion-content>
</ion-view>
