<ion-view view-title="SELECT DEFECT">
    <ion-content class="padding has-header has-footer-70">
        <ion-radio ng-model="currentData.defect" ng-value="item.text" collection-repeat="item in defects">
            {{item.text}}
        </ion-radio>

    </ion-content>
    <div class="footer-70">
        <div class="button button-calm button-large button-block" ng-show="!currentData.defect">
            You must select defect
        </div>
        <button class="button button-balanced button-large button-block"
                ng-hide="!currentData.defect" ng-click="onClickNext()">
            Next
        </button>
    </div>
</ion-view>
