<ion-view view-title="BARCODE SCAN">

    <ion-content class="padding has-footer-70">

            <h3>{{scannerError}}</h3>

            <div class="bar bar-header item-input-inset" ng-show="isDebugMode">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Raw data from QR Code" ng-model="QRCodeResult">
                </label>
                <button class="button button-clear" ng-click="decodeRawQRText(QRCodeResult)">
                    Decode
                </button>
            </div>

            <label class="item item-input item-stacked-label">
                <span class="input-label">Work center</span>
                <input type="text" ng-model="currentData.workCenter">
            </label>
            <label class="item item-input item-stacked-label">
                <span class="input-label">Mold</span>
                <input type="text" ng-model="currentData.mold">
            </label>
    </ion-content>
    <div class="footer-70">
        <div class="button-bar">
            <div class="button button-calm button-large button-block" ng-show="!currentData.workCenter || !currentData.mold ">
                You must fill Working center and mold
            </div>

            <button class="button button-balanced button-large button-block" ng-click="onClickSuccess()"
                    ng-hide="!currentData.workCenter || !currentData.mold">
                Success
            </button>
            <button class="button button-assertive button-large button-block" ng-click="onClickDefect()"
                    ng-hide="!currentData.workCenter || !currentData.mold" >
                Defect
            </button>
        </div>
    </div>
</ion-view>
