<ion-view view-title="MOBLIE LAB">
    <ion-content class="padding has-footer-70">
        <h3>User: {{currentData.user}}</h3>
        <h3>Factory: {{currentData.factory}}</h3>

        <br><br><br>
        <button class="button button-stable button-block">
            Sync
        </button>

        <button class="button button-stable button-block">
            Login / Logout
        </button>

        <button class="button button-stable button-block">
            Settings
        </button>



    </ion-content>
    <div class="footer-70">
        <a class="button button-balanced button-large button-block" href="#/scan">
            Scan barcode
        </a>
    </div>
</ion-view>
