<ion-view view-title="SELECT NUMBERS">


    <ion-content class="padding">
        <button class="button button-balanced button-large button-block" ng-click="onClickNext()">
            Next
        </button>
        <h4>Selected numbers: {{getSelectedNumbers(numbersList)}}</h4>
        <div class="list list-inset">

            <ion-checkbox class="item" ng-repeat="item in numbersList"
                          ng-model="item.checked"
                          ng-checked="item.checked">
                {{ item.text }}
            </ion-checkbox>
         </div>
    </ion-content>
</ion-view>
