<ion-view view-title="MOBLIE LAB">
    <ion-content class="padding has-footer-70">
        <h3>Andrey Grudtsin</h3>
        <h3>Retal Dnepr</h3>

        <br><br><br>
        <button class="button button-stable button-outline button-block">
            Sync
        </button>

        <button class="button button-stable button-outline button-block">
            Login / Logout
        </button>

        <button class="button button-stable button-outline button-block">
            Settings
        </button>



    </ion-content>
    <div class="footer-70">
        <a class="button button-balanced button-large button-block" href="#/scan">
            Scan barcode
        </a>
    </div>
</ion-view>
