<ion-view view-title="LOGIN">
    <ion-content class="padding has-footer-70">

        <label class="item item-input">
            <input type="text" placeholder="Username" ng-model="currentData.user">
        </label>
        <label class="item item-input">
            <input type="text" placeholder="Factory" ng-model="currentData.factory">
        </label>





    </ion-content>
    <div class="footer-70">
        <div class="button-bar">
            <button class="button button-stable button-large button-block" ng-click="onClickBack()">
                Back
            </button>
            <button class="button button-balanced button-large button-block" ng-click="onClickLogin()">
             Done
            </button>
        </div>
    </div>
</ion-view>
