<ion-view view-title="SELECT DEFECT">
    <ion-content class="padding">
        <div class="button-bar">
            <a class="button">First</a>
            <a class="button">Second</a>
            <a class="button">Third</a>
        </div>

        <div class="list">
            <a class="item" href="#/numbers">
                Defect 1
            </a>
            <a class="item" href="#/numbers">
                Defect 2
            </a>
            <a class="item" href="#/numbers">
                Defect 3
            </a>
            <a class="item" href="#/numbers">
                Defect 4
            </a>
            <a class="item" href="#/numbers">
                Defect 15
            </a>
        </div>
    </ion-content>
</ion-view>
